body {
    margin:0;
    padding:0;
}

#map {
    width:100%;
    height:100%;
    top:0; left:0;
    overflow:hidden;
    -webkit-user-select: none;
}

#map canvas {
    z-index:0;
}

#map .dg {
    font-family: Avenir Next, sans-serif;
    font-size:14px;
    font-weight:600;
    position:absolute;
    background:rgba(0, 0, 0, 0.5);
    color:white;
    z-index:1000;
}
