.fixed-table {
  table-layout:fixed;
}

.prose h2 + div h3 {
  padding-top: 0 !important;
}

.prose pre {
  margin-bottom: 18px !important;
}

/* override */
#docs-content .style-spec-section h2,
#docs-content .api-section h2 {
  border: 0 !important;
}

#docs-content .api-section h3 {
  padding-top: 47px;
}

.toggle-target .mb24 {
    margin-bottom: 0 !important;
}

/* api section styles */

.api-section table code,
.api-section table .txt-code {
  word-wrap: break-word;
}

/* style-spec styles */

.style-spec-inner-section div:last-child {
    border-bottom: 0;
    padding-bottom: 0 !important;
}

var {
  color: #d23c75;
  font-style: italic;
}
