.fixed-table {
  table-layout:fixed;
}

.prose h2 + div h3 {
  padding-top: 0 !important;
}

.prose pre {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 18px !important;
}

.prose pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
.prose pre::-webkit-scrollbar:hover {
  background: transparent;
}
.prose pre::-webkit-scrollbar-track {
  background: none;
}
.prose pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-color: transparent;
  width: 6px;
  border-radius: 3px;
}
.prose pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}
.prose pre::-webkit-scrollbar-track:hover {
  background: transparent;
}

/* override */
#docs-content .style-spec-section h2,
#docs-content .api-section h2 {
  border: 0 !important;
}

#docs-content .api-section h3 {
  padding-top: 47px;
}

.toggle-target .mb24 {
    margin-bottom: 0 !important;
}

/* api section styles */

.api-section table code,
.api-section table .txt-code {
  word-wrap: break-word;
}

/* style-spec styles */

.style-spec-inner-section div:last-child {
    border-bottom: 0;
    padding-bottom: 0 !important;
}

var {
  color: #d23c75;
  font-style: italic;
}
