<section class='pad2 space-bottom4 fill-darken0 clearfix prose'>

  <div id='<%- note.namespace %>' class='strong'>
    <%- note.name %>
  </div>

  <% if (note.description) { %>
    <div class='quiet'>
      <%= md(note.description) %>
    </div>
  <% } %>
</section>
