<div class="clearfix">
  <% members.forEach(function(member) { %>
    <div class='keyline-bottom' id='<%- member.namespace.toLowerCase() %>'>
      <div class="clearfix small pointer toggle-sibling" data-href="#<%= member.namespace.toLowerCase() %>">
        <div class="pad1y contain">
            <a class='rcon pin-right pad1y dark-link caret-right'></a>
            <span class='code strong strong truncate'><%= member.name%></span>
            <span class='quiet code space-right2'><%= shortSignature(member, false) %></span>
        </div>
      </div>
      <div class="clearfix hidden toggle-target">
        <%= renderSection({
          section: member,
          renderSection: renderSection,
	  nested: true
        }) %>
      </div>
    </div>
  <% }) %>
</div>
