{
  "plugins": [
      "html"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "prefer-arrow-callback": "off",
    "no-var": "off",
    "strict": "off",
    "no-unused-vars": "off",
    "prefer-template": "off",
    "import/no-unresolved": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "mapboxgl": false,
    "React": false,
    "ReactDOM": false
  }
}
