version: 2
updates:
  - package-ecosystem: npm
    directory: /
    open-pull-requests-limit: 999
    rebase-strategy: disabled
    schedule:
      interval: weekly
    labels:
      - skip changelog
    ignore:
      - dependency-name: eslint
        update-types: ["version-update:semver-major"]
      - dependency-name: eslint-plugin-flowtype
        update-types: ["version-update:semver-major"]
      - dependency-name: flow-bin
        update-types: ["version-update:semver-minor"]
      - dependency-name: jsdom
        update-types: ["version-update:semver-major"]
