# Mapbox GL JS - Supported Browsers
# ==================================
# Static list based on required features:
#   - WebGL 2
#   - Worker type:'module'
#   - Promise.allSettled
#   - Object.hasOwn
#   - Array.at
#   - async/await
#
#   Browser        | Limiting Feature      | Min
#   ---------------|-----------------------|----
#   Chrome         | Object.hasOwn         | 93
#   Safari         | Array.at              | 15.4
#   Firefox        | Object.hasOwn         | 115
#   Edge           | Object.hasOwn         | 93
#   Chrome Android | Object.hasOwn         | 93
#   iOS Safari     | Array.at              | 15.4

chrome >= 93
safari >= 15.4
firefox >= 115
edge >= 93
and_chr >= 93
ios_saf >= 15.4
