{
  "extends": [
    "mourner",
    "plugin:flowtype/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-flow"]
    }
  },
  "plugins": [
    "flowtype",
    "import",
    "jsdoc",
    "eslint-plugin-jsdoc"
  ],
  "rules": {
    // no-duplicate-imports doesn't play well with Flow
    // https://github.com/babel/eslint-plugin-babel/issues/59
    "no-duplicate-imports": "off",
    "import/no-duplicates": "error",

    // ensure compatibility with Node's native ESM
    "import/extensions": ["error", {
      "js": "always",
      "json": "always"
    }],

    // temporarily disabled for easier upgrading of dependencies
    "no-use-before-define": "off",
    "implicit-arrow-linebreak": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "no-confusing-arrow": "off",
    "no-control-regex": "off",
    "no-invalid-this": "off",
    "no-prototype-builtins": "off",
    "accessor-pairs": "off",
    "require-atomic-updates": "off",

    "array-bracket-spacing": "off",
    "consistent-return": "off",
    "flowtype/define-flow-type": 1,
    "flowtype/require-valid-file-annotation": [
      2,
      "always", {
        "annotationStyle": "line"
      }
    ],
    "global-require": "off",
    "import/no-commonjs": "error",
    "key-spacing": "off",
    "no-eq-null": "off",
    "no-lonely-if": "off",
    "no-new": "off",
    "no-unused-vars": ["error", {"argsIgnorePattern": "^_$"}],
    "no-warning-comments": "error",
    "object-curly-spacing": ["error", "never"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", {"destructuring": "all"}],
    "prefer-template": "error",
    "quotes": "off",
    "space-before-function-paren": "off",
    "template-curly-spacing": "error",
    "no-useless-escape": "off",
    "indent": ["error", 4, {
      "flatTernaryExpressions": true,
      "CallExpression": {
        "arguments": "off"
      },
      "FunctionDeclaration": {
        "parameters": "off"
      },
      "FunctionExpression": {
        "parameters": "off"
      }
    }],
    "no-multiple-empty-lines": [ "error", {
        "max": 1
    }],
  },
  "settings": {
    "jsdoc":{
      "ignorePrivate": true,
      "preferredTypes": {
        "object": "Object"
      }
    }
  },
  "overrides": [
    {
      "files": ["src/fake_filename_for_jsdoc_examples"],
      "rules": {
        "flowtype/require-valid-file-annotation": "off"
      },
      "globals": {
        "map": true
      }
    },
    {
      "files": ["debug/**", "bench/**", "test/**", "src/style-spec/**"],
      "rules": {
        "flowtype/require-valid-file-annotation": "off",
        "jsdoc/check-param-names": "off",
        "jsdoc/require-param": "off",
        "jsdoc/require-param-description": "off",
        "jsdoc/require-param-name": "off",
        "jsdoc/require-returns": "off",
        "jsdoc/require-returns-description": "off",
        "jsdoc/require-property": "off",
        "jsdoc/require-description-complete-sentence": "off",
        "jsdoc/check-access": "off",
        "jsdoc/check-examples": "off",
        "jsdoc/check-line-alignment": "off",
        "jsdoc/check-property-names": "off",
        "jsdoc/check-types": "off",
        "jsdoc/newline-after-description": "off",
        "jsdoc/require-description": "off",
        "jsdoc/require-example": "off",
        "jsdoc/require-param-type": "off",
        "jsdoc/require-property-description": "off",
        "jsdoc/require-property-name": "off",
        "jsdoc/require-property-type": "off",
        "jsdoc/require-returns-type": "off",
      }
    },
    {
      "files": [
        "src/index.js",
        "src/ui/map.js",
        "src/ui/camera.js",
        "src/ui/marker.js",
        "src/ui/popup.js",
        "src/ui/events.js",
        "src/ui/control/**",
        "src/ui/handler/**",
        "src/geo/lng_lat.js",
        "src/geo/lng_lat_bounds.js",
        "src/geo/mercator_coordinate.js",
        "src/source/**",
      ],
      "rules": {
        "jsdoc/check-param-names": "error",
        "jsdoc/require-param": "error",
        "jsdoc/require-param-description": "error",
        "jsdoc/require-param-name": "error",
        "jsdoc/require-returns": "error",
        "jsdoc/require-returns-description": "error",
        "jsdoc/require-property": "error",
        "jsdoc/require-description-complete-sentence": "error",
        "jsdoc/check-access": "error",
        "jsdoc/check-examples": ["error", {
            "matchingFileName": "src/fake_filename_for_jsdoc_examples",
            "rejectExampleCodeRegex": "<script>"
        }],
        "jsdoc/check-line-alignment": "error",
        "jsdoc/check-property-names": "error",
        "jsdoc/check-types": "error",
        "jsdoc/newline-after-description": "error",
        "jsdoc/require-description": "error",
        "jsdoc/require-example": "error",
        "jsdoc/require-param-type": "error",
        "jsdoc/require-property-description": "error",
        "jsdoc/require-property-name": "error",
        "jsdoc/require-property-type": "error",
        "jsdoc/require-returns-type": "error",
      }
    }
  ],
  "globals": {
    "performance": true
  },
  "env": {
    "es6": true,
    "browser": false
  }
}