/docs/api/index.html
/_site
/dist/mapbox-gl-dev.js
/dist/mapbox-gl.js
*.js.map
/node_modules
npm-debug.log
*.sublime-*
coverage
.DS_Store
.nyc_output
/debug/access-token-generated.js
/bench/index-generated.js
