/docs/api
/docs/style-spec/index.html
/_site
/dist/mapbox-gl-dev.js
/dist/mapbox-gl.js
*.js.map
node_modules
npm-debug.log
*.sublime-*
coverage
.DS_Store
.nyc_output
*_generated.js
*-generated.js
test/integration/**/index.html
test/integration/**/actual.png
test/integration/**/diff.png
