/rollup/build/
/docs/components/api.json
/dist/
/docs/pages/dist/mapbox-gl-dev.js
/docs/pages/dist/mapbox-gl.js
/docs/pages/dist/mapbox-gl-unminified.js
*.js.map
node_modules
package-lock.json
*.sublime-*
coverage
flow-coverage
.DS_Store
.nyc_output
bench/versions/benchmarks_generated.js
bench/versions/benchmarks_view_generated.js
bench/styles/benchmarks_generated.js
bench/styles/benchmarks_view_generated.js
debug/access_token_generated.js
debug/style_property_editor_generated.js
test/integration/**/index*.html
test/integration/**/actual.png
test/integration/**/actual.json
test/integration/**/diff.png
.eslintcache
src/style-spec/dist/index.js
_batfish_site
_batfish_tmp
_site
yarn-error.log
yarn-debug.log
npm-debug.log
