{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "declaration-block-semicolon-newline-after": "always-multi-line",
    "block-opening-brace-space-before": "always-multi-line",
    "declaration-block-single-line-max-declarations": 3,
    "selector-class-pattern": "mapboxgl-[a-z-]+",
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["svg-load"]
    }],
    "function-no-unknown": [true, {
      "ignoreFunctions": ["svg-load", "svg-inline"]
    }],
    "selector-no-vendor-prefix": [true, {
      "ignoreSelectors": [":-webkit-full-screen"]
    }],
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["user-select"]
    }]
  }
}
