version: 2.1
orbs:
  aws-cli: circleci/aws-cli@1.4.0
  browser-tools: circleci/browser-tools@1.2.3

workflows:
  version: 2
  default:
    jobs:
      - prepare:
          filters:
            tags:
              only: /.*/
      - install-mbx-ci:
          requires:
              - prepare
          filters:
            tags:
              only: /.*/
            # We can't install mbx-ci on CI runs from PR's that reference forks from external contributors
            # This is because fork's can not access our AWS credentials setup in CircleCI environment variables
            # Branch names for external contributor forks are are reported in the format pull/{PR_NUMBER} to CircleCI,
            # This RegEx is setup to ignore that.
            branches:
              ignore: /pull\/[0-9]*/
      - lint:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - build:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - check-bundle-size:
          requires:
            - prepare
            - install-mbx-ci
            - build
          filters:
            tags:
              only: /.*/
      - test-flow:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-unit:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-render:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-render-prod:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-render-csp:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-query:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-expressions:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-browser:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - test-webpack:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - test-style-spec:
          requires:
            - prepare
          filters:
            tags:
              only: /.*/
      - collect-stats:
          requires:
            - build
            - install-mbx-ci
          filters:
            tags:
              ignore: /.*/
            branches:
              only: main
      - deploy-benchmarks:
          requires:
            - install-mbx-ci
            - lint
            - build
            - test-flow
            - test-unit
            - test-render
            - test-render-prod
            - test-query
            - test-expressions
          filters:
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+(-.+)?/
            branches:
              only:
                - main
                - /release-.*/
      - deploy-release:
          requires:
            - install-mbx-ci
            - lint
            - build
            - test-flow
            - test-unit
            - test-render
            - test-render-prod
            - test-query
            - test-expressions
          filters:
            tags:
              only: /v[0-9]+.[0-9]+.[0-9]+(-.+)?/
            branches:
              ignore: /.*/


defaults: &defaults
  docker:
    - image: cimg/node:14.20-browsers
  working_directory: ~/mapbox-gl-js

jobs:
  prepare:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v4-yarn-{{ checksum "yarn.lock" }}
      - run: yarn
      - save_cache:
          key: v4-yarn-{{ checksum "yarn.lock" }}
          paths:
            - '~/.yarn'
            - 'node_modules'
      - persist_to_workspace:
          root: ~/
          paths:
            - mapbox-gl-js
            - .ssh

  install-mbx-ci:
    <<: *defaults
    steps:
      - run:
          name: Install mbx-ci
          command: |
            curl -Ls https://mapbox-release-engineering.s3.amazonaws.com/mbx-ci/latest/mbx-ci-linux-amd64 > ~/mbx-ci &&
            chmod 755 ~/mbx-ci &&
            ~/mbx-ci aws setup
      # mbx-ci stores credentials in these directories, so they must be explictly passed along to dependent jobs via workspaces
      - persist_to_workspace:
          root: ~/
          paths:
            - .ssh
            - .aws
            - mbx-ci

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - restore_cache:
          keys:
            - v2-lint-{{ .Branch }}
            - v2-lint
      - run: yarn run lint
      - run: yarn run lint-css
      - save_cache:
          key: v2-lint-{{ .Branch }}-{{ .Revision }}
          paths:
            - '.eslintcache'

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn run build-prod-min
      - run: yarn run build-prod
      - run: yarn run build-csp
      - run: yarn run build-dev
      - run: yarn run build-css
      - run: yarn run build-style-spec
      - run: yarn run build-flow-types
      - run: yarn run test-build
      - run: while read l; do cp debug/$l test/release/$l; done < test/release/local_release_page_list.txt
      - store_artifacts:
          path: "dist"
      - store_artifacts:
          path: "test/release"
      - persist_to_workspace:
          root: ~/
          paths:
            - mapbox-gl-js/dist

  check-bundle-size:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Check bundle size
          command: |
            node build/check-bundle-size.js

  test-flow:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn run test-flow

  test-unit:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn run test-unit

  test-render:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - browser-tools/install-chrome
      - run: yarn run test-render
      - store_test_results:
          path: test/integration/render-tests
      - store_artifacts:
          path: "test/integration/render-tests/index.html"

  test-render-prod:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - browser-tools/install-chrome
      - run: yarn run test-render-prod
      - store_test_results:
          path: test/integration/render-tests
      - store_artifacts:
          path: "test/integration/render-tests/index.html"

  test-render-csp:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - browser-tools/install-chrome
      - run: yarn run test-render-csp
      - store_test_results:
          path: test/integration/render-tests
      - store_artifacts:
          path: "test/integration/render-tests/index.html"

  test-query:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - browser-tools/install-chrome
      - run: yarn run test-query
      - store_test_results:
          path: test/integration/query-tests
      - store_artifacts:
          path: "test/integration/query-tests/index.html"

  test-webpack:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build Webpack
          command: |
            cd ./test/build/transpilation &&
            yarn &&
            npm run build &&
            rm -rf node_modules
      - store_artifacts:
          path: "test/build/transpilation"

  test-style-spec:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn run test-style-spec

  collect-stats:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - browser-tools/install-chrome
      - run:
          name: Collect performance stats
          command: node bench/gl-stats.js
      - aws-cli/install
      - run:
          name: Upload performance stats
          command: aws s3 cp data.json.gz s3://mapbox-loading-dock/raw/gl_js.perf_metrics_staging/ci/`git show -s --date=short --format=%cd-%h HEAD`.json.gz

  test-browser:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - browser-tools/install-browser-tools:
          chrome-version: 91.0.4472.164
      - run: yarn run build-dev
      - run: yarn run build-token
      - run:
          name: Test Chrome
          environment:
            SELENIUM_BROWSER: chrome
            TAP_COLORS: 1
          command: yarn run test-browser
      - run:
          name: Test Firefox
          environment:
            SELENIUM_BROWSER: firefox
            TAP_COLORS: 1
          command: yarn run test-browser

  test-expressions:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn run test-expressions

  deploy-benchmarks:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build
          command: BENCHMARK_VERSION="${CIRCLE_TAG:-$CIRCLE_BRANCH} $(git rev-parse --short=7 HEAD)" yarn run build-benchmarks
      - aws-cli/install
      - run:
          name: Upload benchmark
          command: aws s3 cp --acl public-read --content-type application/javascript bench/versions/benchmarks_generated.js s3://mapbox-gl-js/${CIRCLE_TAG:-$CIRCLE_BRANCH}/benchmarks.js
      - run:
          name: Upload source maps
          command: aws s3 cp --acl public-read --content-type application/javascript bench/versions/benchmarks_generated.js.map s3://mapbox-gl-js/${CIRCLE_TAG:-$CIRCLE_BRANCH}/benchmarks.js.map

  deploy-release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - aws-cli/install
      - run:
          name: Check build file for correct SDK version
          command: |
            if grep -q "\"${CIRCLE_TAG:1}\"" ./dist/mapbox-gl.js; then
              echo SDK version in mapbox-gl.js matches ${CIRCLE_TAG:1}
            else
              echo SDK version in mapbox-gl.js does not match ${CIRCLE_TAG:1}
              exit 1
            fi
      - run:
          name: Deploy release
          command: |
            bash ./build/upload.sh
