
/* Layout overrides to support docs structure
------------------------------------------------------- */
body { padding-top:80px; }
.footer-social { display: none; }
.masthead {
  position:fixed; top:0; left:0; right:0;
  z-index:10000;
  }
.docnav           { position:fixed; top:80px; bottom:0; width:100%; }
.docnav .active   { color:#404040; color:rgba(0,0,0,0.75); }
.docnav .limiter  { height:100%; }
.docnav .col3     { height:100%; }
.docnav nav {
  position:absolute;
  left:0; top:20px; right:20px; bottom:20px;
  }
.footer.fill-white {
  padding:20px 0 0;
  border:0;
  background:transparent;
  }
.footer .limiter > .newsletter { display:none; }
.footer .limiter > .mobile-cols,
.footer-copyright .limiter > div {
  position:relative;
  z-index:1;
  margin-left:25%;
  width:75%;
  max-width:none;
  }
.footer .limiter > .mobile-cols {
  background:#eee;
  padding:20px;
  position:relative;
  z-index:1;
  border-radius:3px;
  }
.footer-heading   { margin-top:20px; }
.footer-copyright { background:transparent; }

/* Offsets for hashes to account
 * for the fixed masthead.
 * Add's additional 60px to account
 * for the heading when :target is alive. */
.doc h1[id]:target,
.doc h2[id]:target {
  padding-top:100px;
  }
.doc h3[id]:target,
.doc h4[id]:target,
.doc h5[id]:target,
.doc h6[id]:target {
  padding-top:80px;
  }
.doc h1[id]:target:first-child,
.doc h2[id]:target:first-child,
.doc h3[id]:target:first-child,
.doc h4[id]:target:first-child,
.doc h5[id]:target:first-child,
.doc h6[id]:target:first-child {
  padding-top:60px;
  }

a.doc-section {
  display:block;
  position:relative;
  top:-80px;
  z-index:-1;
  }

/* Mobile */
@media only screen and (max-width:640px) {
  .footer .limiter > .mobile-cols,
  .footer-copyright .limiter > div { width:100%; margin:0; }
  }

/* Custom Styles
------------------------------------------------------- */
.swiftype-widget > nav {
  position:absolute;
  top:100%;
  right:0;
  margin-top:5px;
  z-index:2000;
  width:40%;
  }
  .swiftype-widget a.active,
  .swiftype-widget a:hover {
    background:rgba(0,0,0,0.05);
    }

nav .sub { padding:4px 10px; }
@media only screen and (max-width:640px) {
  .swiftype-widget > nav {
    width:100%;
  }
}

.quiet-scroll pre {
  overflow:auto;
  white-space:pre;
  word-wrap:normal;
  word-break:normal;
  }
.quiet-scroll pre::-webkit-scrollbar,
.quiet-scroll::-webkit-scrollbar {
  width:1px;
  height:1px;
  border-left:0;
  background:rgba(0,0,0,0.1);
  }
.quiet-scroll pre::-webkit-scrollbar-track,
.quiet-scroll::-webkit-scrollbar-track {
  background:none;
  }
.quiet-scroll pre::-webkit-scrollbar-thumb,
.quiet-scroll::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.4);
  border-radius:0;
  }
.quiet-scroll pre::-webkit-scrollbar:hover,
.quiet-scroll::-webkit-scrollbar:hover {
  background:rgba(0,0,0,0.4);
  }

.space-bottom0,
.prose .space-bottom0 { margin-bottom:0px; }

/* Base candidate */
var {
  color:#56b881;
  font-style:italic;
}

