#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map canvas {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
#map canvas:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.fill-gradient { background-image: linear-gradient( to bottom right, #7474BF, #348AC7); }
.doc pre.dark { background-color: rgba(0,0,0,0.75); }
.doc .property p { margin-bottom:0; }
.doc .space-right { padding-right:10px; }
.doc .icon.inline:before { vertical-align:middle; }