{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "flowtype/require-valid-file-annotation": [0]
  },
  "globals": {
    "React": false,
    "ReactDOM": false
  },
  "env": {
    "browser": true
  }
}
