.mapboxgl-canvas,
.mapboxgl-ctrl-nav-compass {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.mapboxgl-canvas:active,
.mapboxgl-ctrl-nav-compass:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.mapboxgl-ctrl-nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mapboxgl-ctrl-nav-compass,
.mapboxgl-ctrl-nav-zoom-in,
.mapboxgl-ctrl-nav-zoom-out {
    width: 26px;
    height: 26px;
    display: block;
    background: #fff;
    background-position-x: -1px;
    border: 1px solid #aaa;
    border-top: 0;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.mapboxgl-ctrl-nav a:first-child {
    border-top: 1px solid #aaa;
}

.mapboxgl-ctrl-nav a:last-child {
    border-bottom: 1px solid #aaa;
    background-position-y: -26px;
    border-top: none;
}

.mapboxgl-ctrl-nav-zoom-in,
.mapboxgl-ctrl-nav-zoom-out {
    opacity: 1;
    background-image: url(./images/icons-000000@2x.png);
    background-size: 26px 260px;
}
