.mapboxgl-canvas {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.mapboxgl-canvas:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.mapboxgl-zoom-ctrl {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mapboxgl-zoom-ctrl-compass,
.mapboxgl-zoom-ctrl-zoom-in-btn,
.mapboxgl-zoom-ctrl-zoom-out-btn {
    width: 26px;
    height: 26px;
    display: block;
    background: #fff;
    background-position-x: -1px;
    border: 1px solid #aaa;
    border-top: 0;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.mapboxgl-zoom-ctrl a:first-child {
    border-top: 1px solid #aaa;
}

.mapboxgl-zoom-ctrl a:last-child {
    border-bottom: 1px solid #aaa;
    background-position-y: -26px;
    border-top: none;
}

.mapboxgl-zoom-ctrl-zoom-in-btn,
.mapboxgl-zoom-ctrl-zoom-out-btn {
    opacity: 1;
    background-image: url(./images/icons-000000@2x.png);
    background-size: 26px 260px;
}
