<section class='pad2 clearfix prose'>

  <h2 id='<%- note.namespace %>' class='mt0'>
    <%- note.name %>
  </h2>

  <% if (note.description) { %>
    <%= md(note.description) %>
  <% } %>
</section>
