<div class="clearfix">
  <% members.forEach(function(member) { %>
    <div class='keyline-bottom' id='<%- member.namespace %>'>
      <div class="clearfix small pointer toggle-sibling">
        <div class="pad1y contain">
            <a class='icon pin-right pad1y dark-link caret-right'></a>
            <div class='code strong space-right2 truncate'><%= member.name%></div>
            <div class='quiet code space-right2'><%= shortSignature(member, false) %></div>
        </div>
      </div>
      <div class="clearfix hidden toggle-target">
        <%= renderSection({
          section: member,
          renderSection: renderSection
        }) %>
      </div>
    </div>
  <% }) %>
</div>
