{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "flowtype/require-valid-file-annotation": [0],
    "new-cap": "off",
    "react/jsx-uses-vars": [2]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "analytics": false,
    "MapboxPageShell": false
  }
}
