{
  "parserOptions": {
    "sourceType": "script",
  },
  "plugins": [
    "node"
  ],
  "rules": {
    "import/no-commonjs": "off",
    "node/no-unsupported-features": ["error", {
        "version": 4
    }]
  }
}
